body {
  background: linear-gradient(
    -70deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
  margin-bottom: 100%;
  font-family: "IBM Plex Mono", monospace;
}
h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.city-search-weather {
  background: linear-gradient(
    -70deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 35%
  );
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

header {
  margin: 15px 10px;
}
.text-field {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.submit-button {
  background-color: #f2f83c;
  border: none;
  border-radius: 5px;
  width: 16%;
  padding: 13px 28px;
  font-family: "IBM Plex Mono", monospace;
  color: #080808;
  font-size: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin-left: 3px;
}
