body {
  background: linear-gradient(
    -70deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
  margin-bottom: 100%;
  font-family: "IBM Plex Mono", monospace;
}
a {
  color: #cf8a63;
}

.city-search-weather {
  background: linear-gradient(
    -70deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 35%
  );
  max-width: 700px;
  margin: 60px auto 10px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

header {
  margin: 15px 10px;
}
.text-field {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.submit-button {
  background-color: #f2f83c;
  border: none;
  border-radius: 5px;
  width: 16%;
  padding: 13px 28px;
  font-family: "IBM Plex Mono", monospace;
  color: #080808;
  font-size: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin-left: 3px;
}
main {
  margin: 30px 15px;
}

.weather-display {
  display: flex;
  justify-content: space-between;
}

.city-name {
  margin: 0;
  font-family: "DM Serif Text", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 3.5px;
  margin-block-end: -12px;
}

.country-name {
  margin: 0;
  font-family: "DM Serif Text", serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: rgb(0 0 0 / 68%);
  font-style: normal;
}
.today {
  font-size: 25px;
  font-weight: 200;
  font-style: normal;
}

footer {
  text-align: center;
  font-size: 12px;
  margin: 0;
  color: rgb(0, 0, 0, 0.5);
}
